<% provide(:title, "Home") %>

    <h1>This is page coded by Ruby on Rails</h1>
    <div class="header">
        <p>Railsチュートリアル学習中なわけですが、今回は2週目となります。</p>
    </div>
    <div class="middle">
        <p>今回はCodespacesではなく、ローカル環境で開発、Githubへpushの手順で開発しました。<br>
            local PCとrailsチュートリアル推奨のRubyのバージョンが異なっており、まずは推奨のRuby3.2.6をrbenvコマンドで実行。<br>
            本チュートリアルのみで動かしたかったので、rbenv localで使えるようにしました。            
        </p>
    </div>
